// app global css in Sass form
@import './quasar.variables';

.constrain {
  max-width: 1000px;
  margin: 0 auto;
}

.large-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: none;
  }
  @media (min-width: $breakpoint-sm-min) {
    display: block;
  }
}

.my-card {
  width: 100%;
  max-height: 500px;
}

.auto-aspect-ratio {
  width: 100%;
  height: auto;
}

.sign-in-box {
  border-style: solid;
  border-color: $primary;
  border-width: thin;
  border-radius: 1%;
}
